{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Book a Room</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'scheduler/css/base.css' %}">
</head>
<body>
  <h1>Book a Room</h1>

    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    {% endif %}

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Book</button>
  </form>

  <p><a href="{% url 'dashboard' %}">← Back to Dashboard</a></p>
</body>
</html>
