<h1>Hello, {{ request.user.username }}!</h1>
<p>Welcome to your dashboard.</p>

{% if request.user.user.role == 'Administrator' %}
  <p>You are an admin. Go to the <a href="/admin/">admin panel</a>.</p>
{% elif request.user.user.role == 'Faculty' %}
  <p>Welcome, faculty member! You can book rooms.</p>
{% elif request.user.user.role == 'Staff' %}
  <p>Staff view coming soon.</p>
{% endif %}

<p><a href="{% url 'book-room' %}"> Book a room</a></p>

<p><a href="{% url 'my-bookings' %}">📄 View My Bookings</a></p>

<p><a href="{% url 'calendar' %}">📅 View Booking Calendar</a></p>

<p><a href="{% url 'reports-dashboard' %}">Report Dashboard</a></p>

<form method="post" action="{% url 'logout' %}">
  {% csrf_token %}
  <button type="submit">Logout</button>
</form>

